@mixin customBorder($backgroundColor, $borderColor) {
  background-color: $backgroundColor;
  border: 1px solid $borderColor;
}

@mixin inputArea() {
  width: 25vw;
  height: 25px;
  margin: 4px auto;
  border-radius: 4px;
  display: block;
}

@mixin text($fontWeight, $fontSize, $textColor) {
  text-decoration: none;
  font-weight: $fontWeight;
  font-size: $fontSize;
  color: $textColor;
}