// Colors
$color-dark-blue : #00287a;
$color-light-blue : #0089e5;
$color-btn-hover: #09f;
$color-error : #f44d2e;
$color-label : #495466;
$color-light-gray : #cdcccd;
$color-dark-gray : #202021;
$color-white: #ffffff;
$color-light-semion :#f8e4e4;
$color-text: #566272;
$color-not-found: #7f93bc;
$color-companies: #a1a7b2;

// Spacing
$spacing-xxs: 0.25em; //4px
$spacing-xs: 0.5em; //8px
$spacing-s: 0.6250em; //10px
$spacing-xx-s: 1.25em; //20px
$spacing-x-s: 1.875em; //30px
$spacing-x-md: 2.5em; //40px
$spacing-md: 5em; // 80px

// Text 
$text-sm: 0.875em; //14px
$text-md: 1em; //16px






