// Colors
$color-dark-blue : #00287a;
$color-light-blue : #0089e5;
$color-btn-hover: #09f;
$color-error : #f44d2e;
$color-label : #495466;
$color-light-gray : #cdcccd;
$color-dark-gray : #202021;
$color-white: #ffffff;
$color-light-semion :#f8e4e4;
$color-text: #566272;
$color-not-found: #7f93bc;


